<h2>Flower Phenotypes</h2>

<mat-form-field class="species-selector">
  <mat-label>Species</mat-label>
  <mat-select [(ngModel)]="flower.species">
    <mat-option *ngFor="let species of allFlowerSpecies" [value]="species">{{species.name | titlecase}}</mat-option>
  </mat-select>
</mat-form-field>

<ng-container *ngIf="flower.species">
  <app-geneselector [species]="flower.species" [(ngModel)]="flower.genes"></app-geneselector>

</ng-container>
<br/>
FLOWER: <b>{{flower.species.name}}</b>
<br/>
GENES: <b>{{flower.genes}}</b>
