<h2>Flower Phenotypes</h2>

<mat-form-field>
  <mat-label>Species</mat-label><!--(selectionChange)="onSpeciesSelected()"-->
  <mat-select [(ngModel)]="selectedSpecies">
    <mat-option *ngFor="let species of allFlowerSpecies" [value]="species">{{species.name | titlecase}}</mat-option>
  </mat-select>
</mat-form-field>
<br/>

<div *ngIf="selectedSpecies">
  <app-geneselector [species]="selectedSpecies" [(ngModel)]="genotype"></app-geneselector>
  <button (click)="alter()" matButton>Kill</button>
  <p>CURRENT: <span>{{genotype}}</span></p>
</div>
