<h2>Flower Phenotypes</h2>

<mat-form-field class="species-selector">
  <mat-label>Species</mat-label>
  <mat-select [(ngModel)]="flower.species">
    <mat-option *ngFor="let species of allFlowerSpecies" [value]="species">{{species.name | titlecase}}</mat-option>
  </mat-select>
</mat-form-field>

<ng-container *ngIf="flower.species">
  <app-geneselector [species]="flower.species" [(ngModel)]="flower.genes"></app-geneselector>

</ng-container>
<hr/>
<h3 class="{{getColorClass()}}">{{getColor()}} {{flower.species.name}}</h3>
<br />
<img src="assets/images/{{flower.species.namePlural}}/{{flower.species.name}}-{{getColor()}}.png" />
