/*
max dimensions are 99x113 for any flower so we standardize to that size
by using exact known image sizes and doing math to get proper padding.

size ranges:

large: 1x
medium: 0.5x
small: 0.25x
very small: 0.18x
tiny: 0.12x
 */

.flower-icon-tiny {
  width: 12px;
  /* height: 14px; */
}

.flower-icon-very-small {
  width: 18px;
  /* height: 20px; */
}

.flower-icon-small {
  width: 25px;
  /* height: 28px; 29p */
}

.flower-icon-medium {
  width: 50px;
  /* height: 57px; */
}

.flower-icon-large {
  width: 100px;
  /* height: 113px; */
}
