<h3>Color Finder</h3>
<mat-form-field class="flower-selector-component">
  <mat-label>Species</mat-label>
  <mat-select [(ngModel)]="searchSpecies">
    <mat-option *ngFor="let species of allFlowerSpecies" [value]="species">{{species.name | titlecase}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="flower-selector-component">
  <mat-label>Color</mat-label>
  <mat-select [(ngModel)]="searchColor">
    <mat-option *ngFor="let c of allColors" [value]="c" [disabled]="!colorIsAvailable(c)">{{c | titlecase}}</mat-option>
  </mat-select>
</mat-form-field>
<app-flower-icon [species]="searchSpecies" [color]="searchColor" size="medium"></app-flower-icon>
<mat-accordion multi="true">
  <mat-expansion-panel (opened)="parent1Opened = true" (closed)="parent1Opened = false">
    <mat-expansion-panel-header>
      <mat-panel-title>Parent #1{{parent1Opened ? ' (click to remove filter)' : ''}}</mat-panel-title>
      <mat-panel-description *ngIf="!parent1Opened">(any)</mat-panel-description>
    </mat-expansion-panel-header>
    <app-flower-icon [species]="searchSpecies" [color]="getSearchParent1Color()" size="very-small"></app-flower-icon>
    <app-geneselector [species]="searchSpecies" [(ngModel)]="searchParent1Genes"></app-geneselector>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="parent2Opened = true" (closed)="parent2Opened = false">
    <mat-expansion-panel-header>
      <mat-panel-title>Parent #2{{parent2Opened ? ' (click to remove filter)' : ''}}</mat-panel-title>
      <mat-panel-description *ngIf="!parent2Opened">(any)</mat-panel-description>
    </mat-expansion-panel-header>
    <app-flower-icon [species]="searchSpecies" [color]="getSearchParent2Color()" size="very-small"></app-flower-icon>
    <app-geneselector [species]="searchSpecies" [(ngModel)]="searchParent2Genes"></app-geneselector>
  </mat-expansion-panel>
</mat-accordion>
<h4>Matching Phenotypes</h4>
<mat-list *ngIf="colorIsAvailable(searchColor)">
  <mat-list-item *ngFor="let genes of currentSearch()">
    <app-flower-icon [species]="searchSpecies" [color]="searchColor" size="small"></app-flower-icon>
    <span class="genome-text">{{genes | geneSequenceLabel:searchSpecies.id }}</span>&nbsp;&nbsp;({{genes | geneSequenceShorthand:searchSpecies.id}})
  </mat-list-item>
</mat-list>
<mat-error *ngIf="!colorIsAvailable(searchColor)">No matches. {{searchSpecies.namePlural | titlecase }} can't be {{searchColor}}.</mat-error>
<mat-error *ngIf="colorIsAvailable(searchColor) && currentSearch().length < 1">No matches. The selected parents cannot have {{searchColor}} offspring.</mat-error>
