<div class="gene-selector-row">
  <button mat-icon-button [matMenuTriggerFor]="seedMenu" color="primary" [matMenuTriggerData]="{seeds: seedFlowers[species.id]}"><mat-icon>store</mat-icon></button>
  <ng-container *ngFor="let g of geneLabels">
    <mat-form-field class="gene-selector" *ngIf="hasGene(g)">
      <mat-label *ngIf="g === geneLabels[0]">Genes</mat-label>
      <mat-select [(ngModel)]="selectedGenes[g]" (selectionChange)="setSequenceFromSelector()">
        <mat-option [value]="0">{{0 | geneLabel:g }}</mat-option>
        <mat-option [value]="1">{{1 | geneLabel:g }}</mat-option>
        <mat-option [value]="2">{{2 | geneLabel:g }}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</div>
<span class="spacer">=</span>
<mat-form-field class="gene-shorthand">
  <input [(ngModel)]="geneSequence" (keyup)="setSelectorFromSequence()" (blur)="setSequenceFromSelector()" matInput/>
  <mat-hint>Shorthand</mat-hint>
</mat-form-field>
<!-- placing mat-error into the form field makes everything break. -->
<mat-error *ngIf="geneSequence && !geneSequenceIsValid()">Not a valid gene sequence.</mat-error>
<mat-menu #seedMenu="matMenu">
  <ng-template matMenuContent let-seeds="seeds">
    <span mat-menu-item disabled>Seed Flowers</span>
    <button mat-menu-item *ngFor="let f of seeds" (click)="setValueFromSeed(f)">{{getColorForFlower(f) | titlecase}} {{f.species.name | titlecase}}</button>
  </ng-template>
</mat-menu>
