.parent-label {
  font-size: small;
  font-weight: 550;
}

.parent-selector {
  display: inline-block;
}

.sim-not-started-message {
  font-style: italic;
}

.trials-field {
  width: 7.0em;
  margin-right: 0.8em;
}

.mat-progress-bar .mat-progress-bar-fill {
  transition-duration: 90ms;
}
