.flower-title {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.1em;
}

.white-flower {
  color: white;
  background-color: #666666;
}

.red-flower {
  color: red;
}

.purple-flower {
  color: purple;
}

.blue-flower {
  color: blue;
}

.yellow-flower {
  color: yellow;
}

.pink-flower {
  color: pink;
}

.orange-flower {
  color: orange;
}

.black-flower {
  color: black;
}

.green-flower {
  color: green;
}
