.toolbar-title {
  margin-right: 15px;
}

.fill-remaining {
  flex: 1 1 auto;
}

.active-link {
  text-decoration: underline;
}

/* small devices */
@media only screen and (max-width: 768px) {
  .hide-on-small-width {
    display: none;
  }
}

/* mid/higher devices */
@media only screen and (min-width: 768px) {
  .hide-on-medium-width {
    display: none;
  }
}
